@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fallback-title-bar-height: 40px;
}

body {
  @apply overflow-hidden;
}

.draggable {
  -webkit-app-region: drag;
}

.nonDraggable {
  -webkit-app-region: no-drag;
}

#titleBarContainer {
  position: fixed;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, var(--fallback-title-bar-height));
  width: 100%;
  cursor: pointer;
  z-index: 99;
  box-sizing: content-box;
}

#titleBar,
.titleBar {
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  left: env(titlebar-area-x, 0);
  width: env(titlebar-area-width, 100%);
  text-align: center;
}

.titleBar-left {
  left: env(titlebar-area-x, 0);
}

.titleBar-top {
  top: env(titlebar-area-height, var(--fallback-title-bar-height));
}
.titleBar-width {
  width: env(titlebar-area-width, 100%);
}

#main {
  height: calc(
    100vh - env(titlebar-area-height, var(--fallback-title-bar-height))
  );
  margin-top: env(titlebar-area-height, var(--fallback-title-bar-height));
}

.titleBar-ml {
  margin-left: env(titlebar-area-x, 0);
}
.titleBar-mr {
  margin-right: env(titlebar-area-x, 0);
}

.link.active,
a.active {
  @apply link-primary;
}
