@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fallback-title-bar-height: 40px;
}

html {
  color-scheme: light;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

html.dark {
  color-scheme: dark;
}

#sider .ant-layout-sider-trigger {
  @apply bottom-20;
}

#layout {
  padding-top: env(titlebar-area-height, var(--fallback-title-bar-height));
}

#titleBarContainer {
  position: absolute;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, var(--fallback-title-bar-height));
  width: 100%;
  cursor: pointer;
}

#titleBar {
  position: absolute;
  top: 0;
  display: flex;
  user-select: none;
  height: 100%;
  left: env(titlebar-area-x, 0);
  width: env(titlebar-area-width, 100%);
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

#titleBar > span {
  margin: auto;
  padding: 0px 16px 0px 16px;
}

.draggable {
  app-region: drag;
  -webkit-app-region: drag;
}

.nonDraggable {
  app-region: no-drag;
  -webkit-app-region: no-drag;
}
