name: Release

on:
  push:
    # branches: [ main ]
    # Sequence of patterns matched against refs/tags
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest]

    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: pnpm setup
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'pnpm'
      - name: install deps
        run: pnpm install
      - name: publish windows app
        if: matrix.os == 'windows-latest'
        run: pnpm run publish --win
        env:
          GH_TOKEN: ${{secrets.GH_TOKEN}}

      - name: publish mac app
        if: matrix.os == 'macos-latest'
        run: pnpm run publish --mac
        env:
          GH_TOKEN: ${{secrets.GH_TOKEN}}
